# Credenciales MongoDB
MONGO_URI=mongodb://admin:password@localhost:27017/
MONGO_DB_NAME=entel_bigdata

# Configuración de Airflow
AIRFLOW_UID=50000

# Rutas del proyecto
DATA_RAW_PATH=data/raw
DATA_PROCESSED_PATH=data/processed